* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.test {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 60px;
}
.test__list {
  width: 1300px;
}
.img {
  display: flex;
  margin: 0 auto;
}
.title {
  display: flex;
  padding-top: 450px;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
}
.subtitle {
  color: white;
  padding-top: 60px;
}
.hero {
  padding-top: 700px;
}
.hero__item-item {
  display: flex;
  color: black;
  margin-bottom: 14px;
  padding-left: 65px;
}
.hero__item {
  max-width: 580px;
  max-height: 590px;
  border: 1px solid rgb(234, 234, 234);
  box-shadow: rgb(0 0 0 / 11%) 0px 16px 51px;
}
.hero__img {
  max-width: 580px;
  max-height: 400px; 
}
.hero__title {
  display: grid;
  grid-template-columns: e=repeat(2, fr);
  gap: 45px;
}
.hero--item {
  color: #666666;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 180px;
}
.hero__subtitle {
  color: #c9a96e;
  margin-bottom: 6px;
  padding-left: 240px;
}
